@font-face {
  font-family: 'Quicksand';
  src: url('quicksand.woff2') format('woff2'),
       url('quicksand.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}