@font-face {
  font-family: 'Summerfun';
  src: url('summerfun.woff2') format('woff2'),
       url('summerfun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}