.preloader-center {
    display: flex;
}

.preloader-back {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation-name: backdiv;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    z-index: 999999999999999999999;
}

.preloader-heart {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: pink;
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    z-index: 999999999999999999999;
}

.preloader-heart:after {
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 25px;
}

.preloader-heart:before {
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0px;
}

@keyframes backdiv {
    50% {
        background: #ffe6f2;
    }
}

@keyframes beat {
    0% {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(0.6) rotate(-45deg);
    }
}

.icon-cancel {
    display: block; /* Mặc định hiển thị */
    transition: opacity 0.3s ease; /* Thêm hiệu ứng mượt */
}

.audio-toggle {
    position: relative;
    transition: transform 0.2s ease;
}

.audio-toggle:hover {
    transform: scale(1.1);
}

/* Hiệu ứng khi nhạc đang phát */
.audio-toggle.playing .music-icon {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.7; }
    100% { opacity: 1; }
}